.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #F4F6FF;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.category{
  margin: 30px 0px;
  width: 95%;
  background-color: #e0e2ea;
  border-radius: 10px;
  border:1px solid #282c34;
}

.category h2 {
  padding: 0px 20px;
}

.category-buttons{
  display: flex;
  gap: 20px;
  padding-left: 20px;;
  padding-bottom: 10px;
}

.button {
  text-align: center;
  background-color: #10375C;
  text-decoration: none;
  padding: 10px;
  color: white;
  border-radius: 3px;
  font-size: 18px;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: #265785;
}

.procedure-container {
  margin: 20px;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.procedure-heading {
  text-align: center;
}

.procedure-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.procedure-field {
  font-size: 18px;
  padding: 5px;
}

.procedure-buttons {
  display: flex;
  justify-content: space-around;
}

.submit-button {
  background-color: rgb(66, 162, 66);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.submit-button:hover {
  background-color: rgb(26, 90, 26);
}

.cancel-button {
  background-color: rgb(162, 66, 66);
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.cancel-button:hover {
  background-color: rgb(90, 26, 26);
}
